NODE_ENV=development
PORT=3001
CORS_ORIGIN=http://localhost:5173

JWT_SECRET=zdravstvo-dev-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1h

DB_CLIENT=mysql2
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=zdravstvo
